button {
  min-width: 90px;
  padding: 6px 0px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 6px;
  border-color: #333333;
  transition: box-shadow 0.2s;
  box-shadow: 1px 1px 0px #333333;
}
button:hover {
  cursor: pointer;
  transition: box-shadow 0.2s;
  box-shadow: 6px 6px 0px #333333;
}
button:active, button:focus {
  outline: none;
  transition: box-shadow 0.2s;
  box-shadow: 6px 6px 0px #333333;
}